input:-webkit-autofill {
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}


input:-webkit-autofill:focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 0 0px 9999px white, 0 0 8px
      rgba(102, 175, 233, 0.6);
}
input {
  filter: none;
}
:-moz-autofill, :-moz-autofill-preview {
  filter: grayscale(21%) brightness(88%) contrast(161%) invert(10%) sepia(40%) saturate(206%);
}

.dash-bg {background:#1d5c91 url(../img/admin-background.jpg) center center no-repeat; background-size:cover; -webkit-background-size:cover; -ms-background-size:cover; -o-background-size:cover; background-attachment: fixed;
height: 100%;
width: 100%;
} 
.modal-dialog-am {
    width: 430px !important;
}

.modal-dialog-am .modal-body {
    padding: 30px 37px;
}
.modal-dialog-am {
    max-width: 381px !important;
    width: 100% !important;
}

.mdlbg {background:#fff url(../img/modal-bg.png) center center no-repeat; background-size:cover; -webkit-background-size:cover; -ms-background-size:cover; -o-background-size:100%;  
 }
 #covidMessage .modal-content {box-shadow: 0 4px 32px rgba(174, 174, 174, 0.4); -webkit-box-shadow: 0 4px 32px rgba(174, 174, 174, 0.4); -ms-box-shadow: 0 4px 32px rgba(174, 174, 174, 0.4); border: 1px solid rgba(185, 185, 185, 0.2);}
 
 .modal-dialog {
    z-index: 99999;
}

.mess_succes{
	color:#06b92b;  font-weight: 600;
}
.pg_hd {
    text-align: center;
}
.pg_hd h2 img {
    max-width: 97px;
    width: 100%;
    display: inline-block;
}

.pg_hd h1 {
    font-size: 27px;
    color: #214c8e;
    font-weight: 700;
    margin-bottom: 0px;
}

.pg_hd h3 {
    font-size: 18px;
    font-weight: 600;
    color: #003453;
}

.new p  {

    font-size: 13px;
    color: #7f7f7f;
    text-align: center;
    display: block;
    float: none !important;
    line-height: 18px; margin-bottom: 0;

}

.error1 { color:#e30e0c; margin-bottom:3px;}
.mess_succes{color: #2aae05; margin-bottom:3px;}

.sund {
    font-weight: 700;
    color: #fff;
    background: #fa2d2d;
    font-size: 16px;
    padding: 2px 11px 3px;
    border-radius: 20px;
    display:inline-block;
}

.login input[type="text"], .login input[type="password"] {
    width: 100%;
    padding: 0.7em 1em 0.7em 3em;
    color: #777;
    font-size: 15px;
    outline: none;
    font-weight: 400;
    border: 1px solid #ddd;
   
    margin: 0.3em 0;
     
    border-radius: 6px;
}
	  .uname, .passd { position:relative;}
	 .uname::before {
    background: url("../img/icons.png") no-repeat 14px 17px;
    content: '';
    position: absolute;
    width: 37px;
    height: 37px;
    overflow: hidden;
}
	  
	   .passd::before {
   background: url("../img/icons.png") no-repeat 13px -33px ;
    content: '';
    position: absolute;
    width: 37px;
    height: 37px;
    overflow: hidden; margin-top: 4px;
}
.submit {
	  margin: 1em 0;
	  }
	  .login_div { padding:0px 10px;}
	  
.login input[type="submit"] {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    border: 2px solid #285293;
    background: #2c5aa0;
    margin: 0;
    font-family: 'Tahoma';
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 6px;
}
	.login input[type="submit"]:hover, .login input[type="submit"]:focus{
	  background:#285293 !important;
	  border:2px solid #285293 !important;
	  color: #fff !important;

	}
	
	.buttons {
		margin: 1em 0 0em 0;
	}
	
	.login {
    padding: 30px 37px; max-width: 381px !important;
width: 100% !important; background:#fff; margin:5% auto 2%; border-radius: 5px;  
}
	
	.copy_rg {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%; margin-bottom: 20px;
}
.copy_rg ul { padding:0px; margin-bottom:6px;}
.copy_rg ul li { display:inline-block; border-right:1px solid #fff; }
.copy_rg ul li:last-child {  border-right:none; }
.copy_rg ul li a {
    color: #fff;
    margin: 0 6px;
    padding: 2px 7px;
}
.copy_rg p {
    color: #fff;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 18px !important;
}
.site_view {
    color: #cabf1b !important;;
    margin-bottom: 7px;
    display: inline-block;
}


/* Crona Message */

/* Login Page Modal Message Css */

.message_alert {

    display: block;
    background: rgba(111, 110, 110, 0.9);

}
.lgmessage_area {
    text-align: center;
}
.lgmessage_area h2 {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 700;
    font-family: 'open sans',sans-serif;
}
.lgmessage_area p {

    text-align: center;
    font-size: 1.2rem;
    line-height: 26px;
    color: #e30e0c;
letter-spacing: 0.6px;
}
.lgmessage_area img { width:130px;}
 


/* FAQ */

.cont_box_faq {}
.cont_box_faq .card-header {
padding: 0px; }

.cont_box_faq .card-header h2 button {
    display: block;
    width: 100%;
    text-align: left;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 55px 10px 41px; 
    color: #444;
}
.cont_box_faq .card-header h2 button .fa {
    color: #0dc421;
    position: relative;
    margin-right: 5px;
    position: absolute;
    left: 16px;
    font-size: 19px;
    top: 13px;
}
 
.cont_box_faq .card-header h2 button::after {
    content: '\f067';
    position: absolute;
    right: 19px;
    top: 7px;
    bottom: 0;
    font: normal normal normal 13px/1 FontAwesome;
        line-height: 1;
    box-shadow: inset 0 0 9px -1px #b9b9b9;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    text-align: center;
    line-height: 30px;
    color: #6f6f6f;
}
.cont_box_faq .card-header h2 button:hover {
     text-decoration:none;
}

.cont_box_faq .card-body {padding: 1.1rem 1.25rem;}
.cont_box_faq .card-body .faq_ans p {
    margin-bottom: 0px;
    font-size: .9rem;
    line-height: 1.25rem;
    color: #4a4a4a;
}

.note_fa {
    margin-top: 15px;
}
.note_fa h4 {
    font-size: 1rem;
    font-weight: 600;
    color: #d92727;
}
.note_fa ol {
    padding-left: 16px;
}
.note_fa ol li{ont-size: .9rem;
    line-height: 1.35rem;
    color: #4a4a4a; font-style:italic;}

 .card-header button.active {
    background-color: #507dc6;
    color: #fff !important;
}

.card-header button.active::after {
    content: '\f068' !important;  
	background: #fff;
}

.btn-link.active.collapsed { background:none !important;  color: #444 !important;}
.cont_box_faq .card-header h2 .btn-link.active.collapsed::after {
content: '\f067' !important;}


/* FAQ Css */

.logo-area-cst {text-align:center; padding:3px 10px;}
.logo-area-cst img {display:inline-block; width:75px;}

.conent_wrapper {
    background: #f7f7f7;
    padding: 20px;
}




@media (max-width:450px) {
	
	.login {
    padding: 20px 15px; 
	}
}

@media screen and (max-width:768px) and (min-width:580px) {
	.login {
    
    margin: 10% auto 2% !important;
   
}
}

@media (max-width:580px) {
	.login {
    
    margin: 13% auto 2% !important;
   
}
.copy_rg p {
    
    margin-bottom: 3px;
    font-size: 12px !important;
}
}